.search-card {
  width: 100%;
  text-align: center;
  position: relative;
  height: 15rem;
}

.food {
  background: url('../images/food.jpg') no-repeat center;
  background-size: cover;
}

.play {
  background: url('../images/random.jpg') no-repeat center;
  background-size: cover;
}

.search {
  background: url('../images/searchimage.jpg') no-repeat center;
  background-size: cover;
}

.settings {
  width: 108px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 3px solid #c38757;
}

.fa-cogs {
  font-size: 3rem;
  padding: 23px;
}

.search-title {
  font-size: 2rem;
  color: white;
  font-family: 'PT Serif', serif;
  position: absolute;
  padding: 1rem 0;
  letter-spacing: 15px;
  display: block;
  width: 100%;
  top: 50%;
  margin-top: -33px;
  transition: .3s ease-in-out;
}

.search-box {
  position: absolute;
  top: 37%;
  left: 19%;
  z-index: 3;
}

.search-box form {
  position: relative;
}

.search-text {
  width: 0;
  height: 34px;
  transition: .3s ease;
  opacity: 0;
}

.search-text-open {
  width: 239px;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  border-radius: 10px;
  background-color: #4a4a4ab0;
  transition: .3s ease;
}

.modal-open {
  opacity: 1;
  z-index: 1;
}

.fa-search {
  position: absolute;
  font-size: 1.5rem;
  top: 0px;
  right: 0px;
  color: white;
  background: black;
  padding: 8px;
  opacity: 0;
  transition: .3s ease;
}

.search-box-open .fa-search {
  opacity: 1;
}

@media(min-width:600px) {
  .search-card {
    width: 50%;
    display: inline-block;
    margin-top: 1rem;
    height: 22rem;
  }
  .App {
    max-width: 1300px;
    margin: 0 auto;
  }
  .search {
    width: 100%;
  }
}