.search-card {
  width: 100%;
  text-align: center;
  position: relative;
}

.food {
  background: url('../images/food.jpg') no-repeat center;
  background-size: cover;
}

.play {
  background: url('../images/random.jpg') no-repeat center;
  background-size: cover;
}

.search {
  background: url('../images/searchimage.jpg') no-repeat center;
  background-size: cover;
}

.search-title {
  font-size: 2rem;
  color: white;
  font-family: 'PT Serif', serif;
  position: absolute;
  padding: 1rem 0;
  letter-spacing: 15px;
  display: block;
  width: 100%;
  top: 50%;
  margin-top: -33px;
}