.result h2 {
  text-align: center;
  margin: 1rem;
}

.details-container {
  width: 350px;
  margin: 0 auto;
  background-color: #f3f3f3;
  border: 1px solid black;
  overflow: hidden;
  height: 492px;
  position: relative;
}

.details-container img {
  width: 48%;
  height: 135px;
  vertical-align: middle;
  box-sizing: border-box;
}

.photo-0 {
  margin-right: 10px;
}

.venue-title {
  letter-spacing: 7px;
  padding: 1rem;
  background: black;
  color: white;
  margin: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.details-container p {
  padding: .5rem;
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: initial;
  margin-left: 5px;
}

.photo-container {
  padding: 1rem;
}

.footer {
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
}

/* .footer .footer-3 .footer-map-open {
  background: #c9ecfd;
  transition: .3s ease;
}

.footer .footer-3 {
  width: 33.33%;
  background: #f3f3f3;
  transition: .3s ease;
}

.footer li .footer-3 .footer-contact-open {
  background: #c9ecfd;
  transition: .3s ease;
}

.footer .footer-3 .fas {
  left: 45px;
  color: black;
} */

.footer-likes-open {
  background: #c9ecfd;
  transition: .3s ease;
}

.footer-3 {
  text-align: center;
  display: inline-block;
  height: 57px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  position: relative;
  width: 33%;
}

/* .footer .footer-3 .far {
  left: 45px;
  color: black;
} */

.footer li a {
  color: black;
}

.next {
  text-align: center;
  width: 50%;
  padding: 1rem;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 1rem;
  background: black;
  color: white;
  width: 318px;
}

.footer-4 {
  text-align: center;
  display: inline-block;
  width: 25%;
  height: 57px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  position: relative;
}

.footer-map-open {
  background: #c9ecfd;
  transition: .3s ease;
}

/* .footer li .footer-3 {
  width: 33%;
} */

.footer li .footer-contact-open {
  background: #c9ecfd;
  transition: .3s ease;
}

.footer-4 .fas, .far {
  position: absolute;
  top: -19px;
  background: white;
  border-radius: 50%;
  left: 29px;
  padding: .3rem;
  background-color: #f3f3f3;
  font-size: 1.5rem;
}

.footer-4 .far {
  position: absolute;
  top: -19px;
  background: white;
  border-radius: 50%;
  left: 29px;
  padding: .3rem;
  background-color: #f3f3f3;
  font-size: 1.5rem;
}

.footer-3 .fas, .far {
  position: absolute;
  top: -19px;
  background: white;
  border-radius: 50%;
  left: 43px;
  padding: .3rem;
  background-color: #f3f3f3;
  font-size: 1.5rem;
}

.footer li:last-of-type {
  border-right: none;
}

.footer h5 {
  margin: 0;
  font-size: .7rem;
  margin-top: 22px;
}

.map-container {
  position: absolute;
  left: -321px;
  transition: .3s ease;
}

.contact {
  margin-left: -172px;
  transition: .3s ease;
}

.map-open {
  left: 1rem;
  transition: .3s ease;
}

.contact-open {
  margin-left: 0;
  transition: .3s ease;
}

.description {
  opacity: 1;
  height: 79px;
  overflow: hidden;
  margin-left: 0;
  transition: .3s ease;
}

.description-hidden {
  opacity: 0;
  margin-left: 0;
  transition: .3s ease;
}

.user-image-container {
  display: inline-block;
  margin-left: 1rem;
}

.details-container .user-image {
  width: 79px;
  height: auto;
  border-radius: 12px;
}

.tip-container {
  display: inline-block;
  width: 241px;
  vertical-align: middle;
}

.fa-angle-right {
  float: right;
}

.contact-open h4 {
  font-size: 1rem;
  color: black;
  margin-bottom: 1rem;
}

.contact-open {
  text-align: center;
}

.hours {
  margin-bottom: 1rem;
}

.hours h4 {
  text-decoration: underline;
  margin-bottom: 1rem;
}

.hours h5 {
  margin: .3rem;
}

.user-container1 .user-image-container {
  float: right;
  margin-right: 1rem;
}

.user-container1 .tip-container {
  margin-left: 1rem;
  width: 223px;
}

.view-more {
  text-align: center;
  display: block;
  text-decoration: underline;
  color: black;
  padding: .5rem;
  background-color: #d8d5d57a;
}

.footer-map-open {
  background: #c9ecfd;
  transition: .3s ease;
}

.footer-contact-open {
  background: #c9ecfd;
  transition: .3s ease;
}