.search-component {
  width: 50%;
  display: inline-block;
  margin-bottom: 1rem;
}

.search-image {
  width: 108px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 3px solid #c38757;
}

.search-component-title {
  display: block;
  text-align: center;
  letter-spacing: 5px;
}

@media(min-width:600px) {
  .option-container {
    width: 66%;
  }
  .search-image {
    width: 150px;
    height: 150px;
  }
  .settings {
    width: 150px;
    height: 150px;
  }
  .fa-cogs {
    font-size: 4rem;
    padding: 45px 27px;
  }
}